[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
"celery[redis]" = "*"
peewee = "*"
python-decouple = "*"
python-twitter = "*"
"psycopg2-binary" = "*"
speedtest-cli = "*"

[dev-packages]
flower = "*"
ipdb = "*"
prospector = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
